Flask==1.0.2
google-api-core==1.16.0
google-auth==1.11.3
google-cloud-bigquery==1.24.0
google-cloud-core==1.3.0
google-resumable-media==0.5.0
googleapis-common-protos==1.51.0
Jinja2==2.10
jmespath==0.9.4
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
MarkupSafe==1.1.0
mccabe==0.6.1
mpg123==0.4
protobuf==3.11.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pylint==1.9.3
pyparsing==2.3.0
python-dateutil==2.7.5
python-vlc==3.0.4106
pyttsx==1.1
pytz==2018.7
requests==2.21.0
rsa==4.1
singledispatch==3.4.0.3
six==1.14.0
smart-open==1.8.3
urllib3==1.24.1
Werkzeug==0.14.1
wrapt==1.10.11
gunicorn==19.3.0
