<!doctype html>

<html>
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
  
	<title>Asvino</title>
	<meta content="" name="descriptison">
	<meta content="" name="keywords">
  
	<!-- Favicons -->
	<link href="{{url_for('static',filename='assets/img/favicon.ico')}}" rel="icon">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
	<!-- Vendor CSS Files -->
	<link href="{{ url_for('static',filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static',filename='assets/vendor/icofont/icofont.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static',filename='assets/vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static',filename='assets/vendor/owl.carousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static',filename='assets/vendor/venobox/venobox.css') }}" rel="stylesheet">
	<link href="{{ url_for('static',filename='assets/vendor/aos/aos.css') }}" rel="stylesheet">
  
	<!-- Template Main CSS File -->
	<link href="{{ url_for('static',filename='assets/css/style.css') }}" rel="stylesheet">
	

  <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
 fbq('init', '532239537659109'); 
fbq('track', 'PageView');
</script>
<noscript>
 <img height="1" width="1" 
src="https://www.facebook.com/tr?id=532239537659109&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
	
  </head>



<body>


	<header id="header" class="fixed-top">
		<div class="container d-flex">
	
		  <div class="logo mr-auto">
			<h1 class="text-light"><a href="upload.html"><img src="{{ url_for('static',filename='assets/img/favicon.png') }}" alt="" class="img-fluid">  Asvino</a></h1>
			
		  </div>
	
		  <nav class="nav-menu d-none d-lg-block">
			<ul>
			  <li class="active"><a href="/">Home</a></li>
			  
			  
			</ul>
			
		  </nav><!-- .nav-menu -->
		  <br>
		  
	
		</div>
		<div class="progress-wrap" style="text-align: center;
		font-size: 10px;
		color: white;
		margin: 2% 0 20px 0;">
				<progress max="100" value="0" id="progress" style=" width: 100%;
				margin: 0 0 5px 0;"></progress>
					
				</div>
		
		
		
	  </header><!-- End Header -->
<main id="main">


 <!--  Analysis Section-->
 
		
	  <section id="faq" class="faq section-bg" style="padding-top:10%;">
		<div class="container">
  
		  <div class="section-title">
				
			<h2>Breast Cancer Risk Profiler</h2>
			<p>Let’s get started. Firstly we need to gather some information about you. </p>
		  </div>
		  
		  <form method="post" action="/test" enctype="multipart/form-data" id="#pro-form">		
		  <div class="accordion-list">
			<ul>
					<li data-aos="fade-up" >
							<dl>
								<p>
										<label for="family_history"><b>Any Family History with Breast Cancer?	</b> </label><br>
										<select id="family_history" name="family_history" required>
										<option value="no">No 1st or 2nd degree relative</option>
										<option value="1d50+">1st degree relative 50 years or older (postmenopause)</option>
										<option value="'1d50-">	1st degree relative younger than 50 years (premenopause)</option>
										<option value="2d">	2nd degree relative</option>
										<option value="2+1d">2 or more 1st degree relatives</option>
			
										
			
									
									</select>
								</p>
								</dl>
							</li>
							<li data-aos="fade-up" data-aos-delay="100">
									<dl>
										<p>
												<label for="age"><b>What is your age? </b>(Answer in years) </label><br>
												<select id="age" name="age" required>
												<option value="-30">&lt30</option>
												<option value="30-40">30-40</option>
												<option value="40-50">40-50</option>
												<option value="50-60">50-60</option>
					
												<option value="60+">&gt60</option>
					
											
											</select>
										</p>
										</dl>
									</li>
  
			  <li data-aos="fade-up" data-aos-delay="200">
				<dl>
					<p>
							<label for="height"><b>What is your height? </b>(Answer in centimeters) </label><br>
							<select id="height" name="height" required>
							<option value="-156.4">&lt=156.4</option>
							<option value="156.4-160">&gt156.4-160</option>
							<option value="160-163.4">&gt160-163.4</option>
							<option value="163.4-167">&gt163.4-167</option>
							<option value="167+">&gt167</option>

						
						</select>
					</p>
					</dl>
			  </li>
  
			  <li data-aos="fade-up" data-aos-delay="300">
					<dl>
							<p>
								<label for="age_of_first_birth"><b>What age were you when your first child was born?</b></label><br>
								<select id="age_of_first_birth" name="age_of_first_birth" required>
								<option value="-">I haven't had kids.</option>
								<option value="-20">&lt20</option>
								<option value="20-24">20-24</option>
								<option value="25-29">25-29</option>
								<option value="30-34">30-34</option>
								<option value="35+">&gt 35</option>
		
							
							</select>
						</p>
						</dl>
				
			  </li>

			  <li data-aos="fade-up" data-aos-delay="400">
					<dl>
							<p>
									<label for="menarche_age"><b>How old were you when your periods first started?</b></label><br>
									<select id="menarche_age" name="menarche_age" required>
									<option value="-12">&lt 12</option>
									<option value="12-13">12-13</option>
									<option value="14+">&gt= 14 </option>
									
									
								</select>
							</p>
							</dl>
			  </li>


			  <li data-aos="fade-up" data-aos-delay="500">
					<dl>
							<p>
									<label for="age_of_menopause"><b>How old were you when you went through menopause?</b></label><br>
									<select id="age_of_menopause" name="age_of_menopause" required>
									<option value="-">I haven't been through menopause.</option>
									<option value="-55">&lt 55</option>
									<option value="55+">&gt= 54</option>
		
								</select>
							</p>
							</dl>		
					
					
			  </li>

			  <li data-aos="fade-up" data-aos-delay="600">
				<dl>
					<p>
						<label for="mht"><b>Have you ever used Menopause Hormone Replacement therapy?</b><br> If yes what type? </label><br>
						<select id="mht" name="mht" required>
						<option value="never/former">Never/Former</option>
						<option value="current e-type">Current - Estrogen type</option>
						<option value="current other/unknown type (including combined type)">Current - Other/Unknown Type (Including Combined Type)</option>
					
					</select>
				</p>
				</dl>	
			  </li>

			


			  <li data-aos="fade-up" data-aos-delay="700">
				<dl>
					<p>
							<label for="alcohol"><b>How many standard drinks of alcohol do you consume, on average, a day?</b></label><br>
							<select id="alcohol" name="alcohol" required>
							<option value="0">0 drinks per day</option>
							<option value="1">Less than 1 drink per day</option>
							<option value="2">Less than 2 drinks per day</option>
							<option value="2+">More than 2 drinks per day</option>
							
						</select>
					</p>
					</dl>		
			  </li>
				<li data-aos="fade-up" data-aos-delay="800">
						<dl>
							<p>
									<label for="radiation_exposure"><b>Have you had any Radiation exposure?</b></label><br>
									<select id="radiation_exposure" name="radiation_exposure" required>
									<option value="no">No exposure</option>
									<option value="Repeated fluoroscopy">Yes, Repeated fluoroscopy</option>
									<option value="Radiation therapy for Hodgkin disease">Yes, Radiation therapy for Hodgkin's disease</option>
									
								</select>
							</p>
							</dl>		
						</li>
			  


			  <li data-aos="fade-up" data-aos-delay="900" >
				<dl>
					<p>
						<label for="gene_test"><b>Have you ever done a gene test?</b></label><br>
							<input type="radio" id="yes" name="gene_test" value="yes" required>
							<label for="yes">Yes</label><br>
							<input type="radio" id="no"  name="gene_test" value="no" selected>
  							<label for="no">No</label><br>
							
					</p>
				</dl>
			  </li>
			  <li data-aos="fade-up" data-aos-delay="1000" id="test" >
					<dl>
						<p>
							<label for="gene_type"><b>What was the outcome of your gene test?</b></label><br>
							<select id="gene_type" name="gene_type" required>
									<option value="no">I don't know</option>
									<option value="no">No Abnormality</option>
									<option value="40+">BRCA1/BRCA2 gene Abnormality</option>
							
								</select>
						</p>
					</dl>
				  </li>

			  <li data-aos="fade-up" data-aos-delay="1100">
					<dl>
						<p>
								<label for="fears"><b>What are your greatest fears about breast cancer?</b></label><br>
								
								
								<label for="lifestyle">
									<input type="radio" id="lifestyle" name="fears" value="lifestyle" required selected>
									I don’t know if my genes and current lifestyle choices are increasing my risk.
								</label><br>
								
								
  								<label for="screen">
									<input type="radio" id="screen"  name="fears" value="screen" >
									I might screen for it too late.
								</label><br>
									
								
  								<label for="finance">
									<input type="radio" id="finance"  name="fears" value="finance" >
									I am not financially secure to <br>deal with cancer related expenses.
								</label><br>
								
								
  								<label for="no">
									<input type="radio" id="no"  name="fears" value="no" >
									No fears.
								</label><br>
								
								
  								<label for="others">
									<input type="radio" id="others"  name="fears" value="others" >
									Others.
								</label><br>
							
						</p>
						</dl>		
					</li>
			  
					  <li data-aos="fade-up" data-aos-delay="1300" >
							<dl>
									<p>
											<input type="submit" value="Estimate Risk" class="button"> 
										</p>
							</dl>
						  </li>
					 
			
					</ul>

		  </div>
		</form>
  
		</div>
	  </section><!-- End Analysis Section -->

	</main>
	  <footer id="footer">

	
  
	  <div class="container py-4">
		<div class="copyright">
		  &copy; Copyright <strong><span>Asvino</span></strong>. All Rights Reserved
		</div>
		<div class="credits">
		  <!-- All the links in the footer should remain intact. -->
		  <!-- You can delete the links only if you purchased the pro version. -->
		  <!-- Licensing information: https://bootstrapmade.com/license/ -->
		  <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-bootstrap-app-landing-page-template/ -->
		</div>
	  </div>
	</footer><!-- End Footer -->
  
	<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  
	<!-- Vendor JS Files -->
	

	<script src="{{ url_for('static',filename='assets/vendor/jquery/jquery.min.js') }}"></script>
	<script src="{{ url_for('static',filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ url_for('static',filename='assets/vendor/jquery.easing/jquery.easing.min.js') }}"></script>
	<script src="{{ url_for('static',filename='assets/vendor/php-email-form/validate.js') }}"></script>
	<script src="{{ url_for('static',filename='assets/vendor/owl.carousel/owl.carousel.min.js') }}"></script>
	<script src="{{ url_for('static',filename='assets/vendor/venobox/venobox.min.js') }}"></script>
	<script src="{{ url_for('static',filename='assets/vendor/aos/aos.js') }}"></script>
	


<!-- Progress bar and gene test-->
	<script>
	$("#test").hide()
	var progress = $("#progress");
	$('input[type=radio][name="family_history"]').on('change',function(){
        progress.attr("value", "7.1");
        });
	$('input[type=radio][name="Sex"]').on('change',function(){
        progress.attr("value", "14.2");
        });
	$('#height').change(function(){
        progress.attr("value", "21.3");

	});
	$('#bmi').change(function(){
        progress.attr("value", "28.4");

	});
	$('#children').change(function(){
        progress.attr("value", "35.5");

	});
	$('#age_of_first_birth').change(function(){
        progress.attr("value", "42.6");

	});
	$('#menarche_age').change(function(){
        progress.attr("value", "49.7");

	});
	$('#age_of_menopause').change(function(){
        progress.attr("value", "56.8");

	});
	$('#mht').change(function(){
        progress.attr("value", "63.9");

	});
	$('#oral_contraception').change(function(){
        progress.attr("value", "71");

	});
	$('#alcohol').change(function(){
        progress.attr("value", "78.1");

	});
	$('input[type=radio][name="gene_test"]').on('change',function(){
        if( $(this).val()==="yes"){
        $("#test").show()
        progress.attr("value", "85.2");

        }
        else{
        $("#test").hide()
        progress.attr("value", "92.3");

        }
	});
	$('#gene_type').change(function(){
        progress.attr("value", "92.3");

	});
	$('#fears').change(function(){
        progress.attr("value", "100");

	});
	</script>
	
	<!-- Template Main JS File -->
	<script src="{{ url_for('static',filename='assets/js/main.js') }}"></script>
  
  </body>
  
  </html>
